<%- include("partials/header.ejs")-%>

<body>


  <section id="post-hero">


    <div class="container">
      <div class="row">
        <div class="col-md-6 posts">
          <h2>Welcome, <%= fName %> ! </h2>
        </div>
      </div>
    </div>
  </section>

  <section id="posts">
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <h2>Your stories</h2>
        </div>
        <div class="col text-right pt-2 pr-3">
          <a href="/compose" class="mt-5 ">
            <div class="plus-rotate">
              <span class="fas fa-plus fa-lg"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container mt-4 mb-4">

      <% posts.forEach((post, index)=>{%>
      <div class="card shadow mb-2">
        <div class="card-body">
          <h5 class="card-title"><%=post.title%></h5>
          <p class="card-text"><%=post.content.substring(0,200)%></p>
          <a href="/page/<%=post.id%>" class="card-link">Read more</a>
          <a href="/delete/<%=post.id%>" class="card-link delete">Delete</a>
        </div>
      </div>
      <%}) %>

    </div>
  </section>

</body>


<%- include("partials/footer.ejs")-%>
