<%- include("partials/header.ejs")-%>

<body>
  <section id="post-hero">


    <div class="container compose">
      <div class="row">
        <div class="col-md-6 compose">
          <h2>Update Post</h2>
          <% var today = new Date();%>
          <%const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };%>
          <% var day = today.toLocaleDateString('us-EN', options)%>
          <h4><%=day%></h4>

        </div>
      </div>
    </div>
  </section>
  <section id="compose-main">
    <div class="container">
      <form action="/update/<%=post.id%>" method="post">
        <div class="form-group mt-5">
          <input class="form-control form-control-lg" type="text" name="title" value="<%=post.title%>" />
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="14" name="content"><%=post.content%></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update Post</button>

          <a id="del-btn" class="btn btn-primary" onclick="del_btn()">Delete Post</a>
        </div>
      </form>
    </div>
  </section>


  <script>
  function del_btn() {
    var check = confirm("Are you sure you want to delete this article?");
    if (check) {
      window.location.href = "/delete/<%=post.id%>";
    } else {
      console.log("Cancelled was clicked");
    }
  }
  </script>
</body>
<%- include("partials/footer.ejs")-%>
